{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar" style="background: url({{ member.avatar_url }}) no-repeat center center / cover">

    </section>

    <section class="details">
        <h3>Details</h3>

        <div class="item">
            <div>member</div>
            <div>{{ member.name }}</div>
        </div>

        <div class="item">
            <div>E-mail</div>
            <div>{{ member.email }}</div>
        </div>

        <div class="item">
            <div>Birthday</div>
            <div>{{ member.birth }}</div>
        </div>

        <div class="item">
            <div>Gender</div>
            <div>{{ "Male" if member.gender == "M" else "Female" }}</div>
        </div>

        <div class="item">
            <div>type of blood</div>
            <div>{{ member.blood }}</div>
        </div>

        <div class="item">
            <div>weight of member (Kg)</div>
            <div>{{ member.weight }}</div>
        </div>

        <div class="item">
            <div>height of member (Cm)</div>
            <div>{{ member.heigth }}</div>
        </div>

        <a href="/members/{{ member.id }}/edit" class="button">Editar</a>
    </section>
</div>
    
{% endblock content %}